.media {
    height: 297px;
    padding: 5px 0;
    background: #fff;
    border-top: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.media.large {
    height: 450px;
}

.map {
    width: 615px;
    height: 285px;
}

.map.large {
    width: 100%;
    height: 438px;
}

/* Override Mapbox Zoom Control */
.leaflet-top, .leaflet-bottom {
    z-index: 500 !important;
}