body{
	font-family:Arial, Helvetica, sans-serif;
}

.container{
	background-image:url(../images/bg/bg_main.png);
}

#info_container{float:left; background-color:#404144; height:300px;}
#date_time{margin-top:60px; margin-bottom:30px;}
#date_time h1{font-size:32px; color:#bcbec0;}
#date_time h2{font-size:20px; color:#bcbec0; line-height:8px;}
#date_time h3{font-size:17px; color:#bcbec0; line-height:8px; text-transform:uppercase;}
.timeday{font-size:17px; text-transform:uppercase;}
#weather{float:left;}
#weather_icon img{width:90%;}
#temp{float:left; padding-top:10px; font-size:32px; color:#FFF; font-weight:bold;}
.low_temp{font-size:20px; color:#bcbec0;}

#info_header{
    height:300px;
	float:left;
	background-image: url(../images/bg/bg_info.png);
	display: table;
	/*opacity:0.4;*/.
}
.category_header{
	font-size:48px; 
	color:#FFF; 
	padding: 0 0 64px 16px;
	display: table-cell;
    vertical-align: bottom;
}

#filter_container{
	background-color:#000;
	height: 1188px;
	margin:0;
}
#accordian ul{list-style:none;}
.filter_main{
	float:left;
	width:216px;
	border-top:solid 1px #404144;
	padding:20px 31px;	
	min-height:17px;
}
.filter_main a{
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}
.alignright{float:right;}
/*
.filter_sub{
	float:left;
}
.filter_sub ul{
	width:100%;
	list-style:none;
	padding:5px 31px;
	color:#bcbec0;
	border-top:solid 1px #404144;
}
.filter_sub ul li{
	padding-top:10px;	
	min-height:17px;
	font-family:Arial, Helvetica, sans-serif;
	color:#bcbec0;
	font-size:17px;
}
*/
#category_container{
	float:left;
	clear:none;
    height: 1250px;
}
#category_grid{
	padding-left:16px;
}
#category_rows{
	width: 785px;
}
div.category_row{
    margin-top: 16px;
	width: 785px;
}
div.category_button_0, div.category_button_1, div.category_button_2, div.category_button_3{
    height: 180px;
    width: 180px;
    background: #C3C;
    margin-right: 16px;
    display: block;
    float: left;
}
.span-9 {width:279px;}
