<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS Prototype2 - Purchase</title>

    <link rel="stylesheet" href="http://www.citycorridor.com/shared/foundation/css/foundation.css" />

    <!--Foundation Custom-->
    <link rel="stylesheet" href="http://www.citycorridor.com/shared/normalize-foundation-5-0-3-custom-v1.css" />

    <link rel="stylesheet" href="http://www.citycorridor.com/shared/custom-foundation.css" />
    <link rel="stylesheet" href="../css/custom-foundation-tablet.css" />

    <!--Tablet App Stylesheets-->
    <link rel="stylesheet" href="../themes/base/navigation.css" />
    <link rel="stylesheet" href="../themes/base/layout.css" />
    <link rel="stylesheet" href="../themes/base/listing.css" />
    <link rel="stylesheet" href="../themes/base/purchase.css" />

    <link rel="stylesheet" href="../../lib/font-awesome-4.0.0/css/font-awesome.min.css">

    <script src="http://www.citycorridor.com/shared/foundation/js/vendor/modernizr.js"></script>

</head>
<body>

    <div class="fixed-left">
        <ul id="nav">
            <li><a href="#"><i class="fa fa-2x fa-home"></i>Exit</a></li>
            <li class="active"><a href="#"><i class="fa fa-2x fa-asterisk"></i>Category</a></li>
            <li><a href="#"><i class="fa fa-2x fa-asterisk"></i>Category</a></li>
            <li><a href="#"><i class="fa fa-2x fa-asterisk"></i>Category</a></li>
        </ul>
    </div>

    <div id="container" class="fixed-nav">
        <div id="header">
            <div class="row">
                <h1>{{listing.title}}</h1>
            </div>
        </div>
        <div class="main-content purchase">
            <div class="row">
                <ul id="progress">
                    <li class="large-4 columns" ng-class="{ last: $last, active: step.active }" ng-repeat="step in steps | toArray | orderBy: index">{{ step.name }}</li>
                </ul>
            </div>
            <div class="row">
                <ng-include src="templateUrl">
                    <div id="cart" class="animated fadeIn" ng-controller="CartCtrl">
                        <div class="row">
                            <div id="purchase-option" class="large-8 columns">
                                <ul class="large-block-grid-3">
                                    <li>
                                        <div class="cart-item" ng-repeat="price in prices">
                                            <div class="product">
                                                <div class="product-type heading">
                                                    <h3>
                                                        <span class="product-name">Cheeseburger & Drink Combo<!--{{ price.description }}--></span>
                                                        <span class="product-price">{{ price.price | currency }}</span>
                                                    </h3>
                                                </div>
                                                <div class="product-quantity">
                                                    <p class="quantity">4<!--{{ getQuantityByItem(price) }}--></p>
                                                    <a class="button add" href="" ng-click="addCartItem(price)"><i class="fa fa-plus"></i></a>
                                                    <a class="button subtract" href="" ng-click="removeCartItem(price)"><i class="fa fa-minus"></i></a>
                                                </div>
                                                <!--<div class="product-details">
                                                    <p class="product-desc">Actual description here</p>
                                                    <label>Options</label>
                                                    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                                                    <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                                                </div>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-item"></div>
                                    </li>
                                    <li>
                                        <div class="cart-item"></div>
                                    </li>
                                </ul>
                                <!--<h3 id="quantity_total">{{totalQuantity()}}</h3>-->
                            </div>
                            <div id="action" class="large-4 columns">
                                <div class="panel">
                                    <h2>Purchase Total</h2>
                                    <div id="purchase_total">
                                        <p>{{totalPrice() | currency}}</p>
                                    </div>
                                    <div class="message text-left">
                                        <p>Make your purchase with any major credit card.</p>
                                        <p>All transactions are processed on a secure private network.</p>
                                    </div>
                                    <button id="purchase" class="action" ng-disabled="totalQuantity() == 0" ng-click="saveCart()">Purchase</button>
                                    <button id="cancel" class="secondary action" ng-click="trackPurchase('purchase-cancelled')" ng-href="#/listings/{{ listing.titleSlug }}">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-include>
            </div>
        </div>
        <modal ng-repeat="modal in modals" modal-options="'closeOnBackgroundClick: false;'" heading="modal.heading" messages="modal.messages" show="modal.show" size="modal.size" template="modal.template" timeout="modal.timeout" url="modal.url" closeable="modal.closeable" close="modal.close(modal)"></modal>
    </div>

    <script src="http://www.citycorridor.com/shared/foundation/js/vendor/jquery.js"></script>
    <script src="http://www.citycorridor.com/shared/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

</body>
</html>
