<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS Prototype - Shopping Cart</title>

    <link rel="stylesheet" href="http://www.citycorridor.com/shared/foundation/css/foundation.css" />

    <!--Foundation Custom-->
    <link rel="stylesheet" href="http://www.citycorridor.com/shared/normalize-foundation-5-0-3-custom-v1.css" />

    <link rel="stylesheet" href="http://www.citycorridor.com/shared/custom-foundation.css" />
    <link rel="stylesheet" href="../css/custom-foundation-tablet.css" />

    <!--Tablet App Stylesheets-->
    <link rel="stylesheet" href="../themes/base/ads.css" />
    <link rel="stylesheet" href="../themes/base/layout.css" />

    <!--Smart Destinations
    <link rel="stylesheet" href="themes/smartdest/main.css" />-->

    <link href='http://fonts.googleapis.com/css?family=Questrial|Glegoo|Bitter:400,400italic|Sanchez:400,400italic|Roboto+Slab' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../../lib/font-awesome-4.0.0/css/font-awesome.min.css">

    <script src="http://www.citycorridor.com/shared/foundation/js/vendor/modernizr.js"></script>

</head>
<body>

<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <nav class="top-bar" data-topbar>
                    <section class="top-bar-section">
                        <ul class="left">
                            <li>
                                <a href="home.html"><i class="fa fa-lg fa-home"></i>Home</a>
                            </li>
                            <li class="active">
                                <a href="cart.html"><i class="fa fa-lg fa-shopping-cart"></i>Cart</a>
                            </li>
                        </ul>
                        <ul class="right">
                            <li class="has-dropdown">
                                <a href="#"><i class="fa fa-lg fa-user"></i>Welcome Name!</a>
                                <ul class="dropdown">
                                    <li><a href="#">Sign Out</a></li>
                                </ul>
                            </li>
                            <li>
                                <a id="close" href="index.html">Exit</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </section>

        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Categories</label></li>
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
                <li><a href="#">Category 4</a></li>
                <li><label>By Location</label></li>
                <li><a href="#">Location 1</a></li>
                <li><a href="#">Location 2</a></li>
                <li><a href="#">Location 3</a></li>
                <li><a href="#">Location 4</a></li>
                <li><label>Filter By</label></li>
                <li><a href="#">Nearby</a></li>
                <li><a href="#">Price Range 1</a></li>
                <li><a href="#">Price Range 2</a></li>
                <li><a href="#">Price Range 3</a></li>
                <li><a href="#">Price Range 4</a></li>
            </ul>
        </aside>

        <section class="main-section">
            <!-- begin page content -->

    <div id="container">
        <div id="header" class="row">
            <h1 class="section-title">
                Shopping Cart
            </h1>
        </div>

        <div class="row">
            <div class="large-8 columns">
                <div class="cart">
                    <ul class="large-block-grid-3">
                        <li>
                            <div class="cart-item">
                                <div class="heading">
                                    <a href="listing.html"><h2>New York City Museum Pass</h2></a>
                                    <a class="control delete" href="#"><i class="fa fa-lg fa-minus"></i></a>
                                </div>
                                <ul>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Adult</span><span class="ticket-price money">30.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Child</span><span class="ticket-price money">15.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="cart-item">
                                <div class="heading">
                                    <a href="listing.html"><h2>New York City Museum Pass</h2></a>
                                    <a class="control delete" href="#"><i class="fa fa-lg fa-minus"></i></a>
                                </div>
                                <ul>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Adult</span><span class="ticket-price money">30.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Child</span><span class="ticket-price money">15.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="cart-item">
                                <div class="heading">
                                    <a href="listing.html"><h2>New York City Museum Pass</h2></a>
                                    <a class="control delete" href="#"><i class="fa fa-lg fa-minus"></i></a>
                                </div>
                                <ul>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Adult</span><span class="ticket-price money">30.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Child</span><span class="ticket-price money">15.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="cart-item">
                                <div class="heading">
                                    <a href="listing.html"><h2>New York City Museum Pass Even Longer Name</h2></a>
                                    <a class="control delete" href="#"><i class="fa fa-lg fa-minus"></i></a>
                                </div>
                                <ul>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Adult</span><span class="ticket-price money">30.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                    <li class="ticket">
                                        <div class="ticket-type">
                                            <span class="ticket-name">Child</span><span class="ticket-price money">15.00</span>
                                        </div>
                                        <div class="ticket-quantity">
                                            <input type="text">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="panel">
                    
                </div>
            </div>
        </div>
    </div>

            <!-- end page content -->
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>

<script src="http://www.citycorridor.com/shared/foundation/js/vendor/jquery.js"></script>
<script src="http://www.citycorridor.com/shared/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>