<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS Prototype - Home</title>

    <link rel="stylesheet" href="http://www.citycorridor.com/shared/foundation/css/foundation.css" />

    <!--Foundation Custom-->
    <link rel="stylesheet" href="http://www.citycorridor.com/shared/normalize-foundation-5-0-3-custom-v1.css" />

    <link rel="stylesheet" href="http://www.citycorridor.com/shared/custom-foundation.css" />
    <link rel="stylesheet" href="../css/custom-foundation-tablet.css" />

    <!--Tablet App Stylesheets-->
    <link rel="stylesheet" href="../themes/base/ads.css" />
    <link rel="stylesheet" href="../themes/base/layout.css" />

    <!--Smart Destinations
    <link rel="stylesheet" href="themes/smartdest/main.css" />-->

    <link href='http://fonts.googleapis.com/css?family=Questrial|Bitter:400,400italic|Sanchez:400,400italic|Roboto+Slab' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../../lib/font-awesome-4.0.0/css/font-awesome.min.css">

    <script src="http://www.citycorridor.com/shared/foundation/js/vendor/modernizr.js"></script>

</head>
<body>

    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <nav class="top-bar" data-topbar>
                        <section class="top-bar-section">
                            <ul class="left">
                                <li class="active">
                                    <a href="home.html"><i class="fa fa-lg fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="cart.html"><i class="fa fa-lg fa-shopping-cart"></i>Cart</a>
                                </li>
                            </ul>
                            <ul class="right">
                                <li class="has-dropdown">
                                    <a href="#"><i class="fa fa-lg fa-user"></i>Welcome Name!</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Sign Out</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="close" href="index.html">Exit</a>
                                </li>
                            </ul>
                        </section>
                    </nav>
                </section>

            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Categories</label></li>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 2</a></li>
                    <li><a href="#">Category 3</a></li>
                    <li><a href="#">Category 4</a></li>
                    <li><label>By Location</label></li>
                    <li><a href="#">Location 1</a></li>
                    <li><a href="#">Location 2</a></li>
                    <li><a href="#">Location 3</a></li>
                    <li><a href="#">Location 4</a></li>
                    <li><label>Filter By</label></li>
                    <li><a href="#">Nearby</a></li>
                    <li><a href="#">Price Range 1</a></li>
                    <li><a href="#">Price Range 2</a></li>
                    <li><a href="#">Price Range 3</a></li>
                    <li><a href="#">Price Range 4</a></li>
                </ul>
            </aside>

            <section class="main-section">
            <!-- begin page content -->

    <div id="container">
        <div id="header" class="row">
            <h1 class="section-title">
                Home
                <div class="float-right search">
                    <input type="text">
                    <a class="button radius" href="#">Search</a>
                </div>
            </h1>
        </div>

        <div class="row">
            <div class="large-3 columns">
                <ul class="suggested">
                    <li>
                        <div class="image-button">
                            <a href="listing.html">
                                <img src="../images/image-button-500x734.png"/>
                                <label><span>Listing</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="listing.html">
                                <img src="../images/image-button-500x500.png"/>
                                <label><span>Listing</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="listing.html">
                                <img src="../images/image-button-500x500.png"/>
                                <label><span>Listing</span></label>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="large-2 columns">
                <ul class="large-block-grid-1">
                    <li>
                        <div class="image-button featured">
                            <a href="listing.html">
                                <img src="../images/image-button-500x500.png"/>
                                <label><span>Listing</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button featured">
                            <a href="listing.html">
                                <img src="../images/image-button-500x500.png"/>
                                <label><span>Listing</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button featured">
                            <a href="listing.html">
                                <img src="../images/image-button-500x500.png"/>
                                <label><span>Listing</span></label>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="large-4 columns">
                <ul class="large-block-grid-2">
                    <li>
                        <div class="image-button">
                            <a href="category.html">
                                <img src="../images/image-button-500x355.png"/>
                                <label><span>Category</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="category.html">
                                <img src="../images/image-button-500x355.png"/>
                                <label><span>Category</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="category.html">
                                <img src="../images/image-button-500x355.png"/>
                                <label><span>Category</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="category.html">
                                <img src="../images/image-button-500x355.png"/>
                                <label><span>Category</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="category.html">
                                <img src="../images/image-button-500x355.png"/>
                                <label><span>Category</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="category.html">
                                <img src="../images/image-button-500x355.png"/>
                                <label><span>Category</span></label>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image-button">
                            <a href="category.html">
                                <img src="../images/image-button-500x355.png"/>
                                <label><span>Category</span></label>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="medium-12 large-3 columns">
                <div class="panel sidebar">
                    <div class="cart preview">
                        <h2 class="section-title">
                            <i class="fa fa-3x fa-shopping-cart"></i>
                            <div class="float-right">
                                <a href="#">Edit</a>
                            </div>
                        </h2>
                        <ul>
                            <li>
                                <div class="cart-item">
                                    <a href="listing.html"><img src="../images/image-button-500x500.png"/></a>
                                    <h2>New York City Museum Pass</h2>
                                    <ul class="large-block-grid-2">
                                        <li class="ticket">
                                            <div class="ticket-quantity">
                                                3
                                            </div>
                                            <div class="ticket-type">
                                                <span class="ticket-name">Adult</span><span class="ticket-price money">30.00</span>
                                            </div>
                                        </li>
                                        <li class="ticket">
                                            <div class="ticket-quantity">
                                                2
                                            </div>
                                            <div class="ticket-type">
                                                <span class="ticket-name">Child</span><span class="ticket-price money">15.00</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="cart-item">
                                    <a href="listing.html"><img src="../images/image-button-500x500.png"/></a>
                                    <h2>New York City Museum Pass</h2>
                                    <ul class="large-block-grid-2">
                                        <li class="ticket">
                                            <div class="ticket-type">
                                                <span class="ticket-name">Adult</span><span class="ticket-price money">30.00</span>
                                            </div>
                                            <div class="ticket-quantity">
                                                3
                                            </div>
                                        </li>
                                        <li class="ticket">
                                            <div class="ticket-type">
                                                <span class="ticket-name">Child</span><span class="ticket-price money">15.00</span>
                                            </div>
                                            <div class="ticket-quantity">
                                                2
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="purchase-total">
                        <h2 class="total-amount"><span>$60.00</span></h2>
                        <h2 class="total-savings emphasis"><span>$7.00</span></h2>
                    </div>
                    <a class="button radius" href="#">Purchase</a>
                    <!--<div class="ad">
                        <a href="#"><img src="../images/ads/ad-small-example2.png"/></a>
                    </div>
                    <div class="quick-links">
                        <a href="#" class="button">Link</a>
                        <a href="#" class="button">Link</a>
                        <a href="#" class="button">Link</a>
                    </div>-->
                </div>
                <img id="logo-footer" src="../images/footer-logo_powered.png"/>
            </div>
        </div>
        <div class="row">
        </div>
    </div>

            </section>
        </div>
    </div>

    <script src="http://www.citycorridor.com/shared/foundation/js/vendor/jquery.js"></script>
    <script src="http://www.citycorridor.com/shared/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

</body>
</html>
