body{
    background: #000;
    color: #222;
    font-weight: 300;
}

#container{
    padding: 3rem 2rem 2rem 2rem;
    background: #fff;
}

#header{}

.sidebar{
    max-height: 800px;
    margin-left: 0.625rem;
}

a#close{
    padding: 0 30px;
    text-transform: uppercase;
}

#logo{
    float: left;
    width: 118px;
    margin-right: 3rem;
}

#logo-footer{
    float: right;
    width: 200px;
    height: auto;
}

@media only screen and (width: 1920px){
    #container{height: 1080px;}
}

/*Type & Links*/
h1{font-size: 2.25rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.25rem;}
h4{
    font-size: 1.1rem;
}

h1, h4{
    text-transform: uppercase;
}

p,
.panel p{
    color: #666;
    font-weight: 300;
}

p.small{
    font-size: .85em;
}

.heading{
    padding-bottom: 1rem;
    border-bottom: solid 1px #ececec;
}

.emphasis{
    margin-top: -.25rem;
    padding: .25rem .5rem;
    background: #ABD56D;
    color: #fff !important;
}

a.back{
    float: right;
    text-decoration: underline;
}

a.launch{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem .75rem;
}

a.control{
    display: inline-block;
    padding: .75rem .5rem;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 3rem;
}

a i.fa{
    margin: 0 .5rem;
}

span.money:before{
    content: "$";
}

.image-button {
    position: relative;
    overflow: hidden;
}

.image-button label{
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    margin-bottom: 0;
    padding: .5rem 1rem;
    background: rgba(255, 255, 255, .9);
    font-size: 1.15rem;
    font-weight: 300;
    color: #333;
    text-transform: none;
}

.image-button label span:before{
    text-transform: uppercase;
    font-size: .8rem;
}

.image-button.related span:before{
    content: "See Also: ";
}

.image-button.featured span:before{
    content: "Featured: ";
}

.image-button img{
    border: solid 1px #ddd;
}

.image-button.label-only{
    height: 150px;
}

.image-button.label-only label{
    height: calc(100% - 1px);
    border-bottom: solid 1px #ddd;
}


/*Image Button Layouts*/
.suggested{
    display: block;
    padding-right: 0.625rem;
}

.suggested li{
    display: inline;
    float: left;
    width: 50%;
    height: auto;
    list-style: none;
}

.suggested li:first-child{
    width: 100%;
    padding-bottom: 0;
}

.suggested li:nth-of-type(2n){
    width: calc(50% - 1px);
}

.suggested li:first-child img{
    border-bottom: none;
}

.suggested li:nth-of-type(2n) img{
    border-right: none;
}

.suggested li:nth-of-type(2n) label{
    width: calc(100% - 1px);
}

.list{
    height: 850px;
    overflow-y: auto;
    padding: 2rem 0 1rem 0;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.list .image-button label{
    height: 55px;
    line-height: 1em;
}

.large-block-grid-2 li:nth-of-type(2n+1) .image-button label{
    width: calc(100% - 1px);
}

/*Layout*/
.section-title{
    display: inline-block;
    width: 100%;
}

.section-title .float-right,
.section-title .button-group{
    display: inline;
    float: right;
}

/*Quick Links & Search*/
.quick-links{
    margin-bottom: 1rem;
}

.quick-links a.button{
    width: 100%;
    margin-bottom: .5rem;
}

.search{
    width: 35rem;
}

.search input{
    display: inline;
    width: 25rem;
    height: 2em;
    margin-bottom: 0;
    line-height: 1em;
    font-size: 1.5rem;
}

.search .button{
    margin-bottom: 0;
    width: 8rem;
    padding: .75rem;
}

/*Listing*/
.gallery{
    position: relative;
}

.gallery a.launch{
    z-index: 10;
}

.gallery.listing-image{
    border: solid 1px #ececec;
}

.gallery.listing-image .orbit-bullets-container,
.gallery.listing-image .orbit-timer{
    display: none;
}

.gallery.listing-image .orbit-container .orbit-prev,
.gallery.listing-image .orbit-container .orbit-next{
    top: 50%;
}

.listing-image{
    margin-bottom: 1rem;
}

.description .listing-image{
    float: left;
    width: 35%;
    margin: 0 1rem 1rem 0;
}

.contact{
    border-left: solid 1px #ececec;
    border-right: solid 1px #ececec;
    text-align: center;
}

.contact li{
    padding: .7rem 1.5rem;
    border-top: solid 1px #ececec;
}

.contact li:last-child{
    border-bottom: none;
}

.hours{
    margin-bottom: 0;
    border-bottom: none;
}

.listing-map{
    position: relative;
    border: solid 1px #ececec;
}

/*.listing-map .expand{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}*/

.purchase .heading{
    text-align: center;
}

.purchase ul{
    margin-bottom: 1rem;
}

.purchase .ticket-quantity{
    float: right;
    width: 20%;
}

.purchase .add-to-cart{
    display: inherit;
    float: none;
    width: 40%;
    margin: 0 30%;
}

/*Tickets*/
.ticket{
    display: inline-block;
    width: 100%;
    padding: 1rem 0 .5rem 0;
    border-bottom: solid 1px #ececec;
}

.ticket-type,
.ticket-savings,
.ticket-quantity {
    float: left;
    margin-right: 5%;
}

.ticket-type{
    width: 50%;
    font-size: 1.5rem;
}

.ticket-type span{
    display: inline-block;
}

.ticket-type span.ticket-name:after{
    content: ": ";
}

.ticket-type span.ticket-price{
    margin-left: .5rem;
}

.ticket-savings{
    max-width: 25%;
    font-size: 1.25rem;
    text-align: center;
}

.ticket-savings span{
    display: inherit;
    padding: .25rem 0;
}

/*Listing Carousel*/
.carousel{
    padding-top: 1rem;
    border-top: solid 1px #ddd;
}

/*Cart*/
.cart .cart-item{
    position: relative;
}

.cart:not(.preview) .cart-item{
    background: url('../../images/image-button-500x500.png');
    border: solid 1px #ddd;
}

.cart:not(.preview) .cart-item .heading{
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, .65);
}

.cart:not(.preview) .cart-item h2{
    width: 80%;
}

.cart-item .delete{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.cart.preview .cart-item img{
    float: left;
    width: 20%;
    margin: 0 1rem 1rem 0;
}

.cart .cart-item ul{
    display: inline-block;
    width: 100%;
    margin: 0;
}

.cart:not(.preview) .cart-item ul{
    padding: 1rem 2rem 0 2rem;
    background: #fff;
}

.cart .cart-item .ticket:last-child{
    border-bottom: none;
}

.cart.preview .cart-item .ticket{
    border: solid 1px #ececec;
}

.cart .cart-item .ticket-type{
    width: 80%;
}

.cart .cart-item .ticket-quantity{
    width: 15%;
    margin-right: 0;
}

.purchase-total .total-amount span:before{
    content:"Total: ";
    font-size: .75em;
    text-transform: uppercase;
}

.purchase-total .total-savings span:after{
    content:" Saved";
}